@import "../scss/colors.scss";

.printer {
	padding: 5px;
	font-family: "Ubuntu Mono", monospace ;
	text-rendering: optimizespeed;
	line-height: 14px;
	font-size: 11px;

	background: $backgroundColor;
	color: $blue; // MAIN COLOR TEXT

/* HOVER SELECT FEATURE
	.fold:hover {
		.foldHeadLine{
			color: white;
		}
		background-color: rgba(0, 0, 0, 0.2);
		border: 1px solid rgba(255, 0, 0, 0.3);
		margin: -1px;
	}
	*/

	.gluedPreview{
		> :nth-of-type(n + 2) {
			&::before {
				color: #FFFFFF;
				content: ", ";
			}
		}
		> :before,
		&:last-child:after{
			content: "\00a0";
		}
	}




	.inline,
	.inline > *
	{
		display: inline-block;
	}

	div.name {
		display: inline-block;
	}

	div.foldHeadLine{
		width: 100%;
	}

	div.foldHeadLine:hover {
		background-color: $dirHoverColor;
	}

	.printTab {
		padding-left: 11px;
		margin-left: 3px;
		border-left: 1px solid $tabLineColor;
	}

		text-overflow: ellipsis;


	span.object {
		color: red;
	}

	span.name::after{
		color: $grey;
		content: ": ";
	}

	span.number{
		color: $numberColor;
	}
	span.boolean {
		color: $booleanColor;
	}

	span.string {
		color: $stringColor;
		&::after,
		&::before{
			color: $grey;
			content: '"';
		}
	}

	span.grey {
		color: $grey;
	}

	span.Pointing_Small_Triangle{
		color: $grey;
		cursor: pointer;
	}
}
