@import "../scss/colors.scss";

.printer {

	font-family: "Ubuntu Mono", monospace ;
	text-rendering: optimizespeed;
	line-height: 14px;
	font-size: 11px;

	background: $backgroundColor;
	color: $blue; // MAIN COLOR TEXT

	button {
		cursor: pointer;
	}

	div.inline {
		display: inline-block;
	}

	div.name {
		display: inline-block;
	}

	div.dirname {
		width: 100%;
	}

	div.dirname:hover {
		background-color: $dirHoverColor;
	}


	div.caler {
		display: inline-block;
	}

	.printTab {
		padding-left: 11px;
		margin-left: 3px;
		border-left: 1px solid $tabLineColor;
	}

	span.object {
		color: red;
	}





	span.number{
		color: $numberColor;
	}
	span.boolean {
		color: $booleanColor;
	}

	span.string {
		color: $stringColor;
	}






	span.grey {
		color: $grey;
	}

	span.Pointing_Small_Triangle{
		color: $grey;
	}
}
