$colorGrey: #939395;
$colorGreen: #86de74;
$colorBlue: #75bfff;
$colorDarkgBlue: #232327;
$colorPink: #ff7de9;

.printer {
	font-size: 11px;
	background: $colorDarkgBlue;
	color: $colorBlue;
	font-family: "Ubuntu Mono", monospace ;
	text-rendering: optimizespeed;
	line-height: 14px;
	button {
		cursor: pointer;
	}

	div.inline {
		display: inline-block;
	}

	div.name {
		display: inline-block;
	}

	div.dirname {
		width: 100%;
	}

	div.dirname:hover {
		background-color: rgba(0, 0, 0, 0.2);
	}


	div.caler {
		display: inline-block;
	}

	.printTab {
		padding-left: 11px;
		margin-left: 3px;
		border-left: 1px solid $colorBlue;
	}

	span.object {
		color: red;
	}


	span.number,
	span.boolean {
		color: $colorGreen;
	}

	span.string {
		color: $colorPink;
	}

	span.grey {
		color: $colorGrey;
	}

	span.Pointing_Small_Triangle{
		color: $colorGrey;
	}
}
